---
import Filter from '../icons/Filter.astro';
import Order from '../icons/Order.astro';
---

<div>
  <h2
    class="ml-12 md:ml-0 text-5xl md:text-4xl font-montserrat font-bold text-nowrap"
  >
    - Catalogo de Productos
  </h2>
</div>
<div class="flex justify-between mt-16 md:mx-24">
  <button
    class="bg-white text-primary text-nowrap text-xl font-bold py-3 px-6 rounded-xl flex gap-x-2 hover:scale-125 transition"
  >
    Filtrar
    <Filter width="30" />
  </button>
  <span
    class="text-4xl md:text-5xl text-nowrap font-bricolage-grotesque font-bold uppercase"
    >Mas Vendidos</span
  >
  <button
    class="bg-white text-primary text-xl font-bold py-3 px-6 rounded-xl flex gap-x-2 hover:scale-125 transition"
  >
    Ordenar por
    <Order width="30" />
  </button>
</div>
