---
import { featuredShoes } from '../data/featuredShoes';
import SliderCard from './SliderCard.astro';
---

<style>
  .swiper-button-prev,
  .swiper-button-next {
    color: #fefefe;
  }
</style>

<main class="relative">
  <!-- Contenedor Principal del Swiper -->
  <div class="swiper h-auto relative -top-12">
    <!-- Wrapper Adicional Requerido -->
    <div class="swiper-wrapper gap-x-10 grid grid-cols-3">
      <!-- Slides -->
      {
        featuredShoes.map((shoe) => (
          // Card
          <article class="swiper-slide mt-44 max-w-[575px] bg-primary rounded-2xl  p-8">
            <SliderCard shoe={shoe} />
          </article>
        ))
      }
    </div>
    <span class="swiper-button-prev absolute top-[60%]"></span>
    <span class="swiper-button-next absolute top-[60%]"></span>
  </div>
</main>

<script>
  // Core de Swiper y estilos
  import Swiper from 'swiper';
  import 'swiper/css';

  // Modulo Navigation de Swiper y Estilos
  import { Navigation } from 'swiper/modules';
  import 'swiper/css/navigation';

  // Modulo de autoplay de Swiper y estilos
  import { Autoplay } from 'swiper/modules';
  import 'swiper/css/autoplay';

  // Configurar Swiper
  const swiper = new Swiper('.swiper', {
    modules: [Autoplay, Navigation],
    loop: true,
    slidesPerView: 3,
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
