---
import { featuredShoes } from '../data/featuredShoes';
import ShoeCard from './ShoeCard.astro';
---

<main class="relative">
  <!-- Contenedor Principal del Swiper -->
  <div class="swiper h-auto relative -top-12">
    <!-- Wrapper Adicional Requerido -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {
        featuredShoes.map((shoe) => (
          // Card
          <article class="swiper-slide flex flex-col items-center justify-center mt-44 bg-primary rounded-xl shadow-xl p-8">
            <ShoeCard shoe={shoe} />
          </article>
        ))
      }
    </div>
  </div>
</main>

<script>
  // Core de Swiper y estilos
  import Swiper from 'swiper';
  import 'swiper/css';

  // Modulo de autoplay de Swiper y estilos
  import { Autoplay } from 'swiper/modules';
  import 'swiper/css/autoplay';

  // Configurar Swiper
  const swiper = new Swiper('.swiper', {
    modules: [Autoplay],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 40,
    autoplay: {
      delay: 2000,
    },
  });
</script>
