---
import NextArrow from '../icons/NextArrow.astro';
import PrevArrow from '../icons/PrevArrow.astro';
import { featuredShoes } from '../data/featuredShoes';
import ShoeCard from './ShoeCard.astro';
---

<main>
  <!-- Contenedor Principal del Swiper -->
  <div class="swiper h-auto">
    <!-- Wrapper Adicional Requerido -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {
        featuredShoes.map((shoe) => (
          // Card
          <article class="swiper-slide flex flex-col items-center justify-center mt-44 bg-primary rounded-xl shadow-xl p-8">
            <ShoeCard shoe={shoe} />
          </article>
        ))
      }
    </div>
    <!-- Botones de Navegacion -->
    <PrevArrow width="60" className="swiper-button-prev" />
    <NextArrow width="60" className="swiper-button-next" />
  </div>
</main>

<script>
  // Core de Swiper y estilos
  import Swiper from 'swiper';
  import 'swiper/css';

  // Modulo de navegacion de Swiper y estilos
  import { Navigation } from 'swiper/modules';
  import 'swiper/css/navigation';

  // Configurar Swiper
  const swiper = new Swiper('.swiper', {
    modules: [Navigation],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 40,
    navigation: {
      prevEl: '.swiper-button-prev',
      nextEl: '.swiper-button-next',
    },
  });
</script>
