<footer
  class="flex mt-12 md:mt-0 h-[45vh] xl:h-[80vh] lg:h-[75vh] items-end justify-between px-8"
>
  <article>
    <h1
      class="font-bricolage-grotesque uppercase font-bold text-7xl md:text-6xl text-center md:text-start md:w-96"
    >
      Explora nuestra colección de zapatos
    </h1>
  </article>
  <aside class="relative xl:bottom-16 lg:bottom-12 mr-4">
    <button
      class="hidden md:block bg-white text-primary text-2xl px-4 py-3 rounded-2xl shadow-2xl uppercase font-semibold hover:scale-110 hover:bg-primary
      hover:text-white transition"
    >
      <a href="">Compra ahora!!</a>
    </button>
  </aside>
</footer>
