---
import CatalogueCard from '../components/CatalogueCard.astro';
import CatalogueHeader from '../components/CatalogueHeader.astro';
import { catalogue } from '../data/catalogue';
---

<section class="min-h-screen p-8">
  <CatalogueHeader />
  <main class="grid grid-cols-2 lg:grid-cols-4 gap-x-10">
    {
      catalogue.map((shoe) => (
        <article class="bg-primary max-w-[575px] max-h-[620px] pb-6 px-8 flex flex-col items-center justify-center rounded-2xl mt-12">
          <CatalogueCard shoe={shoe} />
        </article>
      ))
    }
  </main>
</section>
