---
import FeaturedSlider from '../components/FeaturedSlider.astro';
---

<section class="min-h-screen p-8">
  <div>
    <h2 class="text-4xl font-montserrat font-bold">- Productos Destacados</h2>
  </div>
  <FeaturedSlider />
</section>
