---
import Header from '../components/Header.astro';
import HeroContent from '../components/HeroContent.astro';
---

<section
  class="bg-hero-pattern-mobile xl:bg-hero-pattern lg:bg-hero-pattern-lg bg-cover min-h-screen w-[700px] md:w-full"
>
  <Header />
  <HeroContent />
</section>
