---
import Header from '../components/Header.astro';
import HeroContent from '../components/HeroContent.astro';
---

<section
  class="h-[200vh] w-[100vh] md:h-screen md:w-full bg-hero-pattern-mobile md:bg-hero-pattern-lg xl:bg-hero-pattern bg-cover bg-center"
>
  <Header />
  <HeroContent />
</section>
