---
import Header from '../components/Header.astro';
import HeroContent from '../components/HeroContent.astro';
---

<section class="xl:bg-hero-pattern lg:bg-hero-pattern-lg bg-cover min-h-screen">
  <Header />
  <HeroContent />
</section>
