---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource-variable/bricolage-grotesque';
import '@fontsource-variable/montserrat';
import SmokeBackground from '../components/SmokeBackground.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Orlando López" />
    <meta
      name="description"
      content="Pagina Web de E Commerce | Venta de Sneakers"
    />
    <meta name="keywords" content="Sneakers, Zapatos, Venta, E Commerce" />
    <link rel="icon" type="image" href="/logo.png" />
    <title>SneakerStore | La Mejor tienda online de Sneakers</title>
    <ViewTransitions />
  </head>
  <body>
    <SmokeBackground />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color-scheme: dark light;
    font-family: 'Montserrat Variable', sans-serif;
  }
</style>
